@import "../../styles/_mui-palette";

.container {
  padding-top: 20px;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 20px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.04);
  width: 100%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  & img {
    height: 200px;
    width: auto;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 0px 5px $palette_info_light;
    }
  }
}

.title {
  display: block;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  h1 {
    display: inline-block;
    color: black;
    font-size: 35px;
    color: $palette_primary_main;
    //text-shadow: 0px 0px 5px $palette_primary_main;
    &:hover {
      //text-shadow: 0px 0px 5px $palette_secondary_light;
      color: $palette_secondary_light;
      cursor: default;
    }
  }
}

.text {
  display: block;
  padding-right: 20px;
  width: 100%;
}

.link {
  text-decoration: none;
  color: grey;
}


.autors {
  margin-bottom: 10px;
  text-align: right;
  h2 {
    font-size: 16px;
    p {
      display: inline-block;
    }
  }

}

.year {
  text-align: right;
}

.descr {
  display: block;
  h2 {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    text-align: justify;
    margin-bottom: 20px;
    width: 100%;
  }


}

.btn_main_page {
}

@import "BookDetails-media";
