//NotoSans
@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans/NotoSans-ThinItalic.ttf") format("ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans/NotoSans-ThinItalic.ttf") format("ttf");
}

//OleoScript
@font-face {
  font-family: "OleoSctipt_Bold";
  src: url("../assets/fonts/OleoScript/OleoScriptSwashCaps-Bold.ttf");
}
@font-face {
  font-family: "OleoSctipt_Regular";
  src: url("../assets/fonts/OleoScript/OleoScriptSwashCaps-Regular.ttf");
}
