@import "../styles/index";

.app_wrapper {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.app_searchingfield {
  h1 {
    display: inline-block;
    font-family: "OleoSctipt_Regular", sans-serif;
    font-size: 60px;
    color: $palette_primary_main;
    text-shadow: 0px 0px 5px $palette_primary_main;
    &:hover {
      text-shadow: 0px 0px 5px $palette_secondary_light;
      color: $palette_secondary_light;
      cursor: default;
    }
  }
}

.circ_bar {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
