.search_result_wrapper {
  background: rgba(0, 0, 0, 0.04);
}

.search_result_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.btn_link {
  text-decoration: none;
  color: #42a5f5;
}

.total_text {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.circBar_container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


