.wrapper {

}
.searchingField_main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.searchingField_result {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;

}

.helper_text {
    position: absolute;
    bottom: -20px;
    left: 5px;

}

.mylibrary {
    padding-top: 20px;
    font-size: 14px;
    color: #01579b;
    cursor:pointer;
}

.mylibrary:hover {
    text-decoration: underline;
}

.filter_container {
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 20px;
}
.filter_container_result {
    display: flex;
    justify-content: flex-start;
    gap:10px;
    margin-bottom: 20px;
}




