.app_wrapper {
  position: absolute;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.app_heading {
  font-size: 38px;
  color: #1976d2;
}

